@font-face {
  font-family: 'LINE Seed Sans KR';
  src:
    url('/fonts/LINE-Seed-Sans-KR.woff2') format('woff2'),
    url('/fonts/LINE-Seed-Sans-KR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LINE Seed Sans';
  src:
    url('/fonts/LINE-Seed-Sans.woff2') format('woff2'),
    url('/fonts/LINE-Seed-Sans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Font system */
  --font-family-primary: 'LINE Seed Sans KR', 'LINE Seed Sans', sans-serif;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;

  /* Color system */
  --color-pri: #dc5f00;
  --color-sec: #373a40;
  --color-tar: #686d76;
  --color-blue: #3473e1;
  --color-yellow: #ffcb34;
  --color-green: #039c00;

  --color-black: #2b2b2b;
  --color-white: #ffffff;

  --font-pri: #333333;
  --font-sec: #9fa1ab;

  --border-pri: #9a9a9a;
  --border-sec: #eeeeee;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-family-primary);
}

/* Heading styles */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--font-family-primary);
}

h1 {
  font-size: 2.6rem;
  line-height: 3.9rem;
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: 2.2rem;
  line-height: 3.3rem;
  font-weight: var(--font-weight-semibold);
}

h3 {
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: var(--font-weight-medium);
}

h4 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: var(--font-weight-medium);
}

h5 {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: var(--font-weight-medium);
}

h6 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: var(--font-weight-medium);
}
