.calendar {
  width: 95%;
  margin: 0 auto;
  /* margin-bottom: 80px; */
  font-size: 1.8rem;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  font-size: 2.2rem;
  font-weight: bold;
}

.calendar .current-month-day {
  cursor: pointer;
}

.calendar .current-month-day:hover {
  background-color: #f0f0f0;
}

.weekdays {
  display: flex;
}

.days-row {
  display: flex;
}

.weekday {
  color: #ccc;
  width: calc(100% / 7);
  padding: 8px 4px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.day {
  width: calc(100% / 7);
  padding: 4px;
  box-sizing: border-box;
  height: 100px;
}
.date-number {
  height: 30px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 1.8rem;
  text-align: center;
}

.calendar .current-month-day {
  cursor: pointer;
}

.calendar .current-month-day:hover {
  background-color: #f0f0f0;
}

.day.selected .date-number {
  background-color: blue;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.schedule-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.schedule-box {
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 2px;
}

.schedule-cards {
  list-style-type: none;
  padding: 0;
}

.schedule-card {
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.schedule-card-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedule-category {
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 3px;
  color: white;
}

.schedule-title {
  flex-grow: 1;
  margin: 0 10px;
}

.schedule-time {
  font-size: 0.9em;
  color: #666;
}

.schedule-details {
  padding: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
}

/* 카테고리별 색상 */
.schedule-box.방송-출연 {
  background-color: rgba(52, 115, 225, 0.3); /* 기존 색상에 투명도 추가 */
}

.schedule-box.촬영 {
  background-color: rgba(255, 203, 52, 0.3); /* 기존 색상에 투명도 추가 */
}

.schedule-box.팬-이벤트 {
  background-color: rgba(3, 156, 0, 0.3); /* 기존 색상에 투명도 추가 */
}

.schedule-box.공연 {
  background-color: rgba(220, 95, 0, 0.3); /* 기존 색상에 투명도 추가 */
}

/* 카테고리별 색상 예시 */
.schedule-card.방송-출연 {
  background-color: #3473e1;
}
.schedule-card.촬영 {
  background-color: #ffcb34;
}
.schedule-card.팬-이벤트 {
  background-color: #039c00;
}
.schedule-card.공연 {
  background-color: #dc5f00;
}

.selected-date-info {
  padding: 20px 0;
  border-top: 1px solid #ddd;
  font-size: 1.6rem;
}
