.schedule-box.방송-출연 {
  background-color: rgba(52, 115, 225, 0.3); /* 기존 색상에 투명도 추가 */
}

.schedule-box.촬영 {
  background-color: rgba(255, 203, 52, 0.3); /* 기존 색상에 투명도 추가 */
}

.schedule-box.팬-이벤트 {
  background-color: rgba(3, 156, 0, 0.3); /* 기존 색상에 투명도 추가 */
}

.schedule-box.공연 {
  background-color: rgba(220, 95, 0, 0.3); /* 기존 색상에 투명도 추가 */
}
.schedule-box.개인 {
  background-color: #ddd;
}
